@use 'Variables';
@use 'Default';

.container {
    margin: 0;
    position: relative;
    padding: 0 2.5rem;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    color: white;

    //Header Styles
    &_header {
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        height: 100px;
        position: sticky;
        top: 0;
        right: 0;
        width: 100%;
        padding: 0 2.25rem;
        align-items: center;
        
        backdrop-filter: blur(10px);
        z-index: 200;

        &_logo-container {
            min-height: 100%;
            padding-top: 30px;

            &_link {
                padding: 1rem 0;
                margin-left: 0px;
                
            }
        }

        &_navigation {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            min-height: 100%;
            align-items: center;
            padding: 2rem 0;
            

            &_menu {
                display: flex;
                
                @media screen and (max-width:1100px) {
                    flex-direction: column;
                    margin-bottom: 50px;
                }

                &_link{
                    min-height: 100%;
                    margin-left: 0.50rem;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    &:hover {
                        transition: ease 0.2s;
                        cursor: pointer;
                        color: rgb(183, 0, 255);
                    }

                    @media screen and (max-width:1100px) {
                        display: block;
                        width: 100%;
                        margin: 30px 0 0 auto;
                        
                     }
                }
            }
            &_buttons {
                display: flex;

                &_shoping-icon {
                    font-size: 30px;
                    color: white;
                    margin-right: 30px;

                    @media screen and (max-width:1100px) {
                        margin-left: 47%;
                     }
                    &:hover {
                        transition: ease 0.2s;
                        cursor: pointer;
                        color: rgb(183, 0, 255);
                    }
                } 

                @media screen and (max-width:1100px) {
                   order: 1;
                   flex-direction: column;
                   justify-content: center;
                }
            }
            @media screen and (max-width:1100px) {
                width: 110%;
                position: absolute;
                padding: 2.5rem;
                top: 182px;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: hsla(200,16%,17%,1);
                flex-direction: column;
                z-index: 10 0;
            }
            
        }

        &_menu-toggle-container {
            color: white; 
            &_toggle-button {
                display: none;

                &_burger-icon, &_close-icon{
                    font-size: 30px;
                } 
                @media screen and (max-width: 1100px) {
                    display: block;
                    padding: 2rem 0;
                }
            }
        }
    }

    //Introduction styles
    &_introduction-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;

        &_description {
            width: 100%;
            max-width: 50%;
            text-align: center;
            padding: 2.5rem;
            

            @media screen and (max-width: 1200px) {
                margin: auto;
                max-width: 100%;
                order: 2;
            }
        }

        &_logo {
            width: 100%;
            max-width: 50%;
            padding: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 1200px) {
                margin: auto;
                max-width: 100%;
                order: 1;
            }
        }

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: start;
        }
    }

    //Cards styles
    &_cardbenefits-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2.25rem;
        justify-content: space-around;
        color: white;

        &_card{
            max-width: 250px;
            background-color: hsla(200,16%,17%,1);
            text-align: center;
            margin: 20px;
            padding: 10px;
            
        }
    }

    //pogrambushido
    &_pogrambushido {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 50px;

        &_logo {
            width: 100%;
            max-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            @media screen and (max-width: 1200px) {
                max-width: 100%;
             }
        }

        &_description {
            width: 100%;
            max-width: 50%;
            padding: 30px;
            margin: 0;
            @media screen and (max-width: 1200px) {
                max-width: 100%;
             }
        }

        @media screen and (max-width: 1200px) {
           padding: 0px;
           flex-direction: column;
        }

    }

    //Committee Introduction
    &_commite-introduction {

        &_description {
            padding: 2rem;
            &_title {
                margin-bottom: 20px;
            }

            &_description {
                margin-bottom: 20px;
            }

            &_link {
                text-decoration:underline;
                color: white;
                &:hover {
                    transition: ease 0.2s;
                    cursor: pointer;
                    color: rgb(183, 0, 255);
                }
            }
        }
        &_commitecard-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 80px;


            
           
            &_card{
                max-width: 200px;
                min-height: 200px;
                width: 100%;
                margin: 30px;
                position: relative;
                overflow: hidden;
                transform: scale(10px);
                border-radius: 5px;
                

                &_image {
                    width: 200px;
                    min-height: 200px;
                    position: absolute;
                    top: 8;
                    z-index: 2;
                }

                &_description {
                    width: 200px;
                    min-height: 200px;
                    position: absolute;
                    top: 100px;
                    left: 50%;
                    padding-top: 80px;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    color: rgba(0, 0, 0, 0);

                    &_name {
                        margin-bottom: 20px;
                    }

                    &:hover {
                        transition: 0.2s ease all;
                        background-color: rgba(36, 46, 50, 0.668);
                        cursor: pointer;
                        color: white;
                    }
                }
           }
        }
    }

    //Verifications container
    &_verifications-container {
        width: 100%;

        &_carousel {
            cursor: grab;
            overflow: hidden;
            &_inner-carousel {
                display: flex;

                &_card {
                    min-height: 15rem;
                    min-width: 13rem;
                    padding: 40px;


                    &_img {
                        width: 100%;
                        height: 100%;
                        border-radius: 2rem;
                        pointer-events: none
                    }
                }
            }
        }
        &_card {
            margin: 30px;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 0 1.25rem;
    }

    &_footer-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &_social-media-container {
            width: 50%;
            display: flex;
            justify-content: center;
            border-top: solid 1px white;

            &_social-link {
                width: 50px;
                height: 50px;
                margin: 20px 5px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                &:hover {
                    cursor: pointer;
                }
            }

            &_youtube {
                background-color: #FF0000;
            }
            &_facebook {
                
                background-color: #1877f2;
            }
            &_instagram {
                background-color: #D43089;
            }
            &_tiktok {
                background-color: #000;
            }
        }
    }

    //Committee Page Styles
    &_committee-container {
        width: 100%;
        min-height: 100vh;

        &_description {
            text-align: center;
        }

        &_committee{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            &_card {
                margin: 30px;
                max-width: 300px;
                text-align: center;
                border-radius: 5px;
                &_description {
                    margin-top: 30px;
                }
            }
        }
    }

    &_membershippage-container {
        padding: 20px;
        width: 100%;
        
        &_products-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            min-height: 100vh;
            align-items: center;

            &_card-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                &_card {
                    max-width: 300px;
                    padding: 30px;
                    background-color: hsla(200,16%,17%,1);
                    margin: 30px;

                    
                    &_title, &_price, &_description,&_label {
                        margin-bottom: 20px;
                    }
                    
                    &_price {
                        font-size: 40px;
                    }

                    &_label {
                        color: rgb(177, 177, 177);
                    }
                }
            }
        }

        &_certificate-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            &_certificate-section, &_description-container {
                max-width: 50%;
                
                @media screen and (max-width: 950px) {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }

            &_certificate-section {
                &_image-container {
                    width: 100%;
                    &_image {
                        max-width: 400px;
                        max-height: 500px;
                        width: 100%;
                        height: 100%;

                        @media screen and (max-width: 850px) {
                            max-width: 350px;
                            max-height: 500px;
                            margin-bottom: 50px;
                        }
                    }
                }
            }

            &_description-container {
                padding: 50px;

                @media screen and (max-width: 768px) {
                    padding: 0;
                }

                &_title-container{
                    margin-bottom: 30px;
                    
                }
            }

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }
        }
    }

        //About Page Styles
        &_CEO-section {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            &_image-container, &_description-container {
                max-width: 50%;

                @media screen and (max-width: 1100px) {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
    
            &_image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                &_image {
                    width: 90%;
                    height: 400px;
                    border-radius: 10px;
                    margin-bottom: 30px;

                    @media screen and (max-width: 1100px) {
                       min-height: 300px;
                    }
                }
            }
    
            &_description-container {
                padding: 50px;
    
                &_title {
                    margin-bottom: 50px;
                }
                
                &_paragraph {
                    line-height: 30px;
                }
    
                &_signed {
                    text-align: center;
                }

                @media screen and (max-width: 1100px) {
                    padding: 0;
                }
            }

            @media screen and (max-width: 1100px) {
                flex-direction: column;
                width: 100%;
            }
        }
        
    &_about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0;

        @media screen and (max-width: 1100px) {
           padding: 0;
        }

        &_image {
            margin-bottom: 50px;
            width: 500px;
            height: 500px;
            margin: 0 auto;

            @media screen and (max-width: 1100px) {
                width: 350px;
                height: 350px;
            }
        }

        &_description {
            &_paragraph {
                margin-bottom: 30px;
                line-height: 25px;
            }
        }

        &_signature {
            text-align: center;
            margin: 30px 0;
        }
    }

    &_button {
        &_buttonlink {
            text-decoration: none;
            color: white;
        }
    }

    &_checkout-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 70vh;
        align-items: center;

        &_products-cart-container, &_payment-method-container {
            max-width: 50%;
            width: 100%;

            @media screen and (max-width: 1100px) {
                max-width: 100%;
                padding: 0;
            }
        }

        &_products-cart-container {
            background-color: hsla(200,16%,17%,1);
            padding: 30px;

            &_title {
                margin-bottom: 20px;
            }
            &_items-container {


                &_item-product-name {
                    margin-bottom: 20px;
                }

                &_item-product-description {
                    line-height: 20px;
                    margin-bottom: 20px;
                }
                
                &_item-product-price {
                    margin-top: 20px;
                }
            }
        }

        &_payment-method-container {
            padding: 30px;
        }

        @media screen and (max-width: 1100px) {
            flex-direction: column;
        }

        @media screen and (max-width: 1100px) {
            padding: 0;
        }
    }
} 

.menu {
    display: flex;
    width: 80%;
    justify-content: space-between;
    @media screen and (max-width: 1100px) {
        display: block;
        position: fixed;
        top: 0;
        left: -130%; /* Initial position outside of the screen */
        width: 110%;
        height: 100vh;
        background-color: hsla(200,16%,17%,1);
        transition: left 0.3s ease;
        justify-content: center;
    }
  }
  
  .menu-open {
    left: -10%;
    /* Move the menu to the left side of the screen */
  }