@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  background-color:hsla(200,16%,17%,1);
  background-image:
  radial-gradient(at 0% 11%, hsla(10,100%,49%,0.38) 0px, transparent 50%),
  radial-gradient(at 100% 100%, hsla(231,100%,59%,0.38) 0px, transparent 50%);
  background-repeat: no-repeat;
  background-size: 100vh cover;
  width: 100%;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* background-color:hsla(0,1%,86%,1);
background-image:
radial-gradient(at 100% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%); */